body {
  background-color: whitesmoke;
}

* {
  margin: 0 auto;
  box-sizing: border-box;
}

.tags {
  position: relative;
}

.loading {
  position: absolute;
  z-index: 1;
  top: 100px;
  right: 50%;
}
.table-container {
  height: calc(100vh - 135px);
  overflow: auto;
}

.pagination {
  padding: 10px 0;
  background-color: whitesmoke;
  position: sticky;
  bottom: 5px;
}
