body {
  background-color: whitesmoke;
}

* {
  margin: 0 auto;
  box-sizing: border-box;
}

.tags {
  position: relative;
}

.loading{
  position: absolute;
  z-index: 1;
  top: 100px;
  right: 50%;
}
.table-container{
  height: calc(100vh - 120px);
  overflow: auto;
  margin-bottom: 150px;
}

.pagination{
  position: fixed;
  bottom: 0;
  right: 35%;
  margin: 15px auto;
}